<div class="challenge-header">{{week}}</div>
<div data-js="challengeItemContainer" class="challenge-item-container col-md-12">
    {{#each challenges}}
        <div data-js="{{this.id}}" class="challenge-row">
            <div class="number col-md-1 col-sm-1 col-xs-1">{{this.number}}</div>
            <div class="challenge-detail-wrap col-md-11 col-sm-11 col-xs-11">
                <div class="challenge-detail">
                    <span class="name">{{this.name}}</span>
                    <span class="points">{{this.points}} pt</span>
                    <span class="rules"> - {{this.rules}}</span>
                </div>
            </div>
        </div>
    {{/each}}
</div>
