{{#each challenges}}
    <div data-js="{{this.id}}" class="challenge-row"">
        <span class="number">{{this.id}}</div>
        <span class="title">Bus {{this.title}}</div>
        <span class="points">( {{this.pointValue}} pt)</span>
        <span class="description">{{this.description}}</span>
    </div>
{{/each}}
