<div class="row">

    <div class="col-md-4 dashboard-id">
        <div class="row">
            <div class="col-md-6">
                 <div class="upload-photo-btn-wrapper">
                    <div class="upload-photo-btn"></div>
                </div>               
                <div>
                    <span class="glyphicon glyphicon-camera"></span>
                    <span>Upload</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>Hello, {{user.firstName}}!</div>
                <div>Bus #{{bus.number}}</div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 dashboard-leaderboard">
        <div class="leaderboard-header">4-Week Challenge Leaderboard</div>
        <div data-js="leaderboardItems"></div>
    </div>

</div>

<div class="row">

    <div class="col-md-4 dashboard-100-point">
        <div class="header">100 Point Challenge</div>
        <div class="content">
            <div class="individual-point-display">
                <div>74</div>
            </div>
            <div class="out-of-display">
                <div>
                    <div>Points out</div>
                    <div>of 100</div>
                </div>
            </div>
        </div>
        <div class="complete-challenge-btn btn">Complete a Challenge!</div>
    </div>

    <div class="dashboard-local-events">
        <div class="local-event-header">Local Events</div>
            <div data-js="localEventItems" class="local-event-items"">
                {{#each events}}
                    <div class="local-event-item">
                        <div class="local-event-image">
                            <!-- <img src="{{this.image}}"/> -->
                            <img src="/static/images/uploadPhotoButton.png"/>
                        </div>
                        <div class="local-event-text">
                            <div class="local-event-title">{{this.name}}</div>
                            <div class="local-event-location">{{this.datetime}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
