<div class="row">

    <div class="col-md-4 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 dashboard-id">
        <div class="row">
            <div class="left-column col-md-6 col-sm-4 col-xs-6">
                 <div data-js="profileImageWrapper" class="profile-image-wrapper">
                    <div data-js="profileImage" class="profile-image"></div>
                </div>               
                <div data-js="uploadPhotoBtn" class="upload-photo-btn" >
                    <span class="glyphicon glyphicon-camera"></span>
                    <span>Upload</span>
                </div>
                <input data-js="profileImageUpload" class="file-upload" id="profileImageUpload" type="file" name="files[]" data-url="/profileImage/post">
            </div>
            <div class="right-column col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-6">
                <div class="name">Hello, {{user.firstName}}!</div>
                <div class="bus-name">Bus #{{user.busName}}</div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-7 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 dashboard-leaderboard">
        <div class="leaderboard-header">4-Week Challenge Leaderboard</div>
        <div class="row">
            <div class="leaderboard-item-container col-md-12" data-js="leaderboardItems"></div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 dashboard-100-point">
        <div class="header">100 Point Challenge</div>
        <div class="content">
            <div class="individual-point-display">
                <div>{{user.points}}</div>
            </div>
            <div class="out-of-display">
                <div>
                    <div>Points out</div>
                    <div>of 100</div>
                </div>
            </div>
        </div>
        <div data-js="hundredPointBtn" class="complete-challenge-btn btn">Complete a Challenge!</div>
    </div>
    
    <div class="col-md-1"></div>

    <div class="col-md-7 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 dashboard-local-events">
        <div class="local-event-header">Local Events</div>
            <div data-js="localEventItems" class="local-event-items"">
                {{#each events}}
                    <div data-id="{{this.id}}" class="local-event-item">
                        <div data-js="eventBtn" class="local-event-image">
                            <img src="{{this.imageUrl}}"/>
                        </div>
                        <div class="local-event-text">
                            <div data-js="eventBtn" class="local-event-title">{{this.name}}</div>
                            <div data-js="eventBtn" class="local-event-location">{{this.datetime}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>
