<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 welcome-container">
        <div class="row welcome-header">Welcome, {{firstName}}!</div>
        <div class="row welcome-sub-header">Join Bus {{busName}} and win a trip back to Israel!</div>
        <div class="row">
            <div class="col-md-3">
                <div data-js="uploadPhotoBtnWrapper" class="upload-photo-btn-wrapper">
                    <div data-js="uploadPhotoBtn" class="upload-photo-btn">
                        <div>Upload Photo</div>
                    </div>
                </div>
                <input data-js="profileImageUpload" class="file-upload" id="profileImageUpload" type="file" name="files[]" data-url="/profileImage/post">
            </div>
            <div class="col-md-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name" value="{{firstName}} {{lastName}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-4">
                            <input data-js="password" type="password" class="form-control" id="password" value="">
                        </div>
                        <label for="repeat" class="col-md-2 control-label">Repeat</label>
                        <div class="col-md-4">
                            <input data-js="repeat" type="password" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group birthday">
                        <label for="month" class="col-md-2 control-label">Birthday</label>
                        <div class="col-md-4 dropdown">
                            <a id="month" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <input data-js="month" type="text" class="form-control" id="month" placeholder="Month" readonly>
                                {{~#if true~}}
                                    <span data-js="monthDropdownButton" class="glyphicon glyphicon-chevron-down"></span>
                                {{~/if~}}
                            </a>
                            <ul data-js="dropdownMenu" data-input="month" class="dropdown-menu month" role="menu" aria-labelledby="month">
                                <li>January</li>
                                <li>February</li>
                                <li>March</li>
                                <li>April</li>
                                <li>May</li>
                                <li>June</li>
                                <li>July</li>
                                <li>August</li>
                                <li>September</li>
                                <li>October</li>
                                <li>November</li>
                                <li>December</li>
                            </ul>
                        </div>
                        <div class="col-md-3 dropdown">
                            <a id="day" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <input type="text" class="form-control" data-js="day" placeholder="Day">
                                {{~#if true~}}
                                    <span data-js="dayDropdownButton" class="glyphicon glyphicon-chevron-down"></span>
                                {{~/if~}}
                            </a>
                            <ul data-js="dropdownMenu" data-input="day" class="dropdown-menu day" role="menu">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>16</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                            </ul>
                        </div>
                        <div class="col-md-3 dropdown">
                            <a id="year" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <input type="text" class="form-control" data-js="year" placeholder="Year">
                                {{~#if true~}}
                                    <span data-js="yearDropdownButton" class="glyphicon glyphicon-chevron-down"></span>
                                {{~/if~}}
                            </a>
                            <ul data-js="dropdownMenu" data-input="year" class="dropdown-menu year" role="menu">
                            <li>2005</li>
                            <li>2004</li>
                            <li>2003</li>
                            <li>2002</li>
                            <li>2001</li>
                            <li>2000</li>
                            <li>1999</li>
                            <li>1998</li>
                            <li>1997</li>
                            <li>1996</li>
                            <li>1995</li>
                            <li>1994</li>
                            <li>1993</li>
                            <li>1992</li>
                            <li>1991</li>
                            <li>1990</li>
                            <li>1989</li>
                            <li>1988</li>
                            <li>1987</li>
                            <li>1986</li>
                            <li>1985</li>
                            <li>1984</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="email" value="{{emailAddress}}" readonly>
                        </div>
                        <label for="phone" class="col-md-2 control-label">Phone</label>
                        <div class="col-md-3">
                            <input data-js="phone" type="text" class="form-control" id="phone" value="{{phoneNumber}}" placeholder="(222) 555-5555">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="university" class="col-md-3 control-label left-label">University</label>
                        <div class="col-md-9">
                            <input data-js="university" type="text" class="form-control" id="university" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location" class="col-md-3 control-label">Location</label>
                        <div class="col-md-9">
                            <input data-js="location" type="text" class="form-control" id="location" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="graduated" class="col-md-6 control-label">Graduated</label>
                        <div class="col-md-6">
                            <input data-js="graduated" type="text" class="form-control" id="graduated" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="occupation" class="col-md-3 control-label">Occupation</label>
                        <div class="col-md-9">
                            <input data-js="occupation" type="text" class="form-control" id="occupation" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 left-label" for="biography">Short Biography</label>
                        <div class="col-md-12 left-label">
                            <textarea class="biography form-control"
                                      rows="4"
                                      id="biography"
                                      data-js="biography" placeholder="Type just a few sentences about yourself for others to read on your profile page"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <div class="col-md-11 submit-col">
                <button data-js="submitButton" class="btn">Submit</div>
            </div>
        </div>
    </div>
</div>
